<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Status</title>
<link rel="stylesheet" href="estilo.css" />
</head>
<body>
  <h1>Status do Sistema</h1>

  <% if (status) { %>
    <p><%= status %></p>
  <% } %>

  <% if (nome) { %>
    <p>Nome: <%= nome %></p>
    <p>Sobrenome: <%= sobrenome %></p>
    <p>Nascimento: <%= nascimento %></p>
    <p>Estado civil: <%= civil %></p>
  <% } %>

  <a href="/LAB02/projects.html">Voltar para Projetos</a>
</body>
</html>
